

<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3 class='panel-title default_panel_header'>
      Welcome to Card Siege!
    </h3>
  </div>
  <div class='panel-body'>
    Notes
  </div>
</div>
