
<div class='row'>
  <div class='col-sm-10'>

    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title default_panel_header'>
          Welcome to Card Siege!
        </h3>
      </div>
      <div class='panel-body'>
        <h3>How to Play</h3>
        <ul style="list-style-type:none"><h4><u>Starting a New Game</u></h4>
          <li>Select <b>Start New Game</b></li>
          <li>In the New Game window, select your <b>Class</b>. Detailed information and a list of that class's cards will show</li>
          <li>Select your <b>Opponent</b>. Detailed information will also be displayed on your opponent</li>
          <li>If you are satisfied, hit <b>Start</b></li>
        </ul>
        <br>
        <ul style="list-style-type:none"><h4><u>Loading a Saved Game</u></h4>
          <li>Go to <b>My Games</b></li>
          <li>Select game you would like to continue</li>
          <li><b>Status:</b> <i>Not Implemented</i></li>
        </ul>
        <br>
        <ul style="list-style-type:none"><h4><u>Playing a game</u></h4>
          <li><b>Ojective:</b> Destroy your opponent!</li>
          <li><b>Energy</b> is determined by round number, maximizing at <b>5</b>. <small><i>Subject to change</i></small></li>
          <li>At the start of each round, you select <b>3</b> cards to use for that round. You cannot add cards when a round is in play</li>
          <li>After selecting your cards, hit <b>Play</b></li>
          <li>Turn order is determined by class type: <b>Assassin</b>, <b>Barbarian</b>, <b>Druid</b>, <b>Summoner</b>, <b>Guardian</b></li>
          <li></li>
          <li></li>
        </ul>
        <br><br>
        <hr>
        <h3>Version</h3>
        <ul style="list-style-type:none"><i><u>0.2.5</u></i>
          <li>Classes Available: <b>Barbarian</b></li>
          <li>Cannot actually play yet. Can select your cards to use for the first round. </li>
          <li></li>
        </ul>
        <ul style="list-style-type:none"><b>New</b>
          <li>Opponent selects their own cards now. Visible only for testing purposes. <b>Barbarian</b> opponent only</li>
          <li></li>
        </ul>

      </div>
    </div>

  </div>
</div>
