
<!-- <div class='row'> -->

  <div class='col-sm-2'>
    <div class='col-sm-1'></div>
    <div class='col-sm-11'>
      <div id='main_menu_render'>
        <%= render 'shared/main_menu' %>
      </div>
    </div>
  </div>

  <div class='col-md-8' id='new_game_render'>
    <%= render 'game/new_game' %>
  </div>

<!-- </div> -->
