<div id="error_window" class="error_overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeError()">&times;</a>
  <div class="overlay-content">
    <%= err_message %>
  </div>
</div>
