<div class='row'>
  <div class='col-sm-6'>
    <% card_ids = [] %>
    <% @opponent_hand.each do |card_value| %>
    <!-- height: 160, width: 114 -->
      <% card_ids.push(card_value.id) %>
      <%= image_tag("#{card_value.image_path}", height: 196, width: 140, title: "#{card_value.image_path.gsub(/.png/,'')}", id: 'opponent_hand') %>
    <% end %>
  </div>
  <div class='col-sm-2' id='opponent_status_effects'>
    
  </div>

</div>
