
<div class='row'>
  <div class='col-sm-11'>

    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title default_panel_header'>GAMEPLAY</h3>
      </div>

      <div class='panel-body'>
        <!-- OPPONENT CARD VIEW         -->
        <div class='row' id='gameplay-opponent'><%= image_tag("#{@player_one_class.image_path}", height: 160, width: 114) %></div>
        <!-- MIDDLE PLAY VIEW         -->
        <div class='row' id='gameplay-middle'><br><br><br><br></div>
        <!-- PLAYER CARD VIEW         -->
        <div class='row' id='gameplay-player'>
          <div class='col-sm-2'>
            <%= image_tag("#{@player_one_class.image_path}", height: 160, width: 114, id: 'player_deck_stack') %>
          </div>
          <div class='col-sm-6'>
            <span id='player_hand_cards'></span>
          </div>
          <div class='col-sm-2' id='ready_play_button'><div class='btn btn-success'>PLAY!</div></div>
        </div>

        <hr>
        <!-- PLAY DECK VIEW -->
        <div align='center' id='player_deck_all'></div>
      </div>

    </div>

  </div>
</div>
