
<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3 class='panel-title default_panel_header'>Main Menu</h3>
  </div>
  <div class='panel-body'>
    <!-- <ul style="list-style-type:none"> -->

    <% if current_user %>
      <div class='btn btn-success' id="main_menu_start">Start a new game</div><br><br>
      <div class='btn btn-success' id="my_profile_button">My Profile</div><br><br>
      <div class='btn btn-success' id="my_games_button">My Games</div><br><br>
      <%= link_to("logout", destroy_user_session_path, class: 'btn btn-danger', method: :delete) %><br><br>
    <% else %>

    <% end %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
