// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//GAMEPLAY WINDOW
#gameplay-opponent {
  padding-left: 10px;
}

#gameplay-middle {
  height: 200px;
}

#gameplay-player {
  padding-left: 10px;
}

#player_deck_all {
  display: none;
}

#ready_play_button {
  display: none;
}

.nav{
    max-height: 300px;
    overflow-y:scroll;
}

//GAME INFO WINDOW
.value_name {
  font-weight: bold;
  color: red;
}

#need_three_cards_error {
  display: none;
}

#player_deck_show {
  display: none;
}

#player_deck_show {
    background-color: black;
    background-image: none;
    opacity: 0.8;
}

.deck_instructions {
  color: red;
  font-style: italic;
  font-size: .9em;
}

.round_info {
  font-weight: bold;
  font-size: 1.0em;
}

.btn-group .btn{
  border: 0px;
  border-radius: 0px;
}

.btn.active, .btn:active {
    background-color: #4d82bd;
}

.btn-group-justified .btn {
  border: 0px;
  border-radius: 0px;
}

.btn-group-justified .btn:last-of-type {
  border: 0px;
  border-radius: 0px;
}
